/* Product Loop Archive */
.bc-product-archive {
	max-width: 1260px;
	padding: 0 20px;
	margin: 0 auto;

	@media (--viewport-medium) {
		padding: 0 30px;
	}
}

.attachment-bc-category-image {
	display: block;
	max-width: 100%;
	height: auto;
	margin: 0.5em 0 1em;
}
