.bc-product__brand {
	display: block;
	font-size: var(--font-size-content-m);
	line-height: var(--line-height-even);
	font-weight: var(--font-weight-bold);
	margin-bottom: 10px;

	@media (--viewport-medium) {
		margin-bottom: 15px;
	}

	@media (--viewport-full) {
		margin-bottom: 20px;
	}
}

.bc-product-single,
.bc-product-card--single {

	.bc-product__brand {
		display: block;
		font-size: var(--font-size-content);
		margin-bottom: 10px;
	}
}
