.bc-currency-switcher {
	padding: 0;
	margin: 0;

	.bc-form {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-end;
	}

	.bc-form__control {
		margin-bottom: 0;

		select {
			padding-right: 20px;
		}
	}

	.bc-form__actions {
		margin-top: 0;
		width: auto;
		margin-left: 16px;

		.bc-btn {
			border: 1px solid transparent;
		}
	}
}
