.bc-product__description {
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 30px;

	@media (--viewport-full) {
		margin-bottom: 40px;
	}

	@media (--viewport-large) {
		margin-bottom: 50px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
