.bc-product__description {
	font-size: var(--font-size-content);
	line-height: var(--line-height-base);
	margin-bottom: 30px;

	@media (--viewport-full) {
		margin-bottom: 40px;
	}

	@media (--viewport-large) {
		margin-bottom: 50px;
	}

	p:last-child {
		margin-bottom: 0;
	}
}
