.bc-order-product-row__image,
.bc-cart-item-image {

	.bc-product__thumbnail-link {
		display: block;
		box-shadow: none;
		text-decoration: none;
		border: 0;
		opacity: 1;
		transition: var(--transition-opacity);

		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}
}

.bc-gallery-size-bc-xmedium {

	.bc-product-card__featured-image.bc-component {
		max-width: 720px;
	}
}
