.bc-product-form__control--radio {

	.bc-product-form__option-label {
		flex: 0 0 100%;
	}

	.bc-product-variant__label {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-items: center;
		margin-bottom: 6px;
	}

	.bc-product-variant__radio {
		flex: 0 0 auto;
	}

	.bc-product-variant__label--radio {
		flex: 1;
		line-height: var(--line-height-base);
	}
}
