.bc-single-product__related {
	padding: 50px 0 0;
	border-top: 1px solid var(--color-bc-light-grey);

	.bc-form.bc-product-form,
	button.bc-btn {
		margin-top: 0;
	}
}

.bc-single-product__section-title--related {
	font-size: var(--font-size-content-xxl);
	margin-bottom: 0;
}
