.bc-product__spec-list {
	list-style: none;
	margin: 0;
	padding: 0;
	lost-center: 100%;
}

.bc-product__spec {
	font-size: var(--font-size-content-m);
	lost-waffle: 1/2;

	@media (--viewport-medium) {
		lost-waffle: 1/3;
	}

	@media (--viewport-full) {
		lost-waffle: 1/4;
	}
}
