/* use strong selector instead of !important rule that is banned on AMP */
.bc-icon.bc-icon.bc-icon.bc-icon {
	font-family: 'bigcommerce-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
