:root {
	/* -----------------------------------------------------------------------------
	 * Primary Palette
	 * ----------------------------------------------------------------------------- */

	--color-primary: #5273f4;
	--color-secondary: darken(var(--color-primary), 0.08);
	--color-bc-green: #65c68c;
	--color-bc-light-grey: #e0e3e9;
	--color-bc-concrete: #cdcdcd;
	--color-bc-grey: #8b8b8b;
	--color-bc-grey-medium: #5e5e5e;
	--color-bc-black: #34313f;
	--color-bc-doger-blue: #0d52ff;
	--color-bc-blue-light: #168fc0;
	--color-bc-blue-turquoise: #53bad1;
	--color-bc-red: #d2574a;
	--color-bc-success: #507c09;
	--color-bc-aluminium: #a9aab1;
	--color-bc-bright-turquoise: #02eada;
	--color-bc-shark: #23282d;
	--color-bc-tuna: #363140;
	--color-bc-shamrock: #33c987;

	/* -----------------------------------------------------------------------------
	 * Whites
	 * ----------------------------------------------------------------------------- */

	--color-white: #fff;
	--color-off-white: #f5f5f5;

	/* -----------------------------------------------------------------------------
	 * Greys
	 * ----------------------------------------------------------------------------- */

	--color-grey-light: lighten(var(--color-grey), 0.15);
	--color-grey: grey;
	--color-grey-dark: darken(var(--color-grey), 0.15);

	/* -----------------------------------------------------------------------------
	 * Blacks
	 * ----------------------------------------------------------------------------- */

	--color-black: #000;
	--color-black-a-40: rgba(0, 0, 0, 0.4);
	--color-black-a-70: rgba(0, 0, 0, 0.7);

	/* -----------------------------------------------------------------------------
	 * Backgrounds
	 * ----------------------------------------------------------------------------- */

	--color-bgd: var(--color-white);
	--color-bgd-content: var(--color-white);
	--color-bgd-login: #f1f1f1;
	--color-bgd-selection: var(--color-primary);
	--color-bgd-panel-active: #2c2935;

	/* -----------------------------------------------------------------------------
	 * Links
	 * ----------------------------------------------------------------------------- */

	--color-link: var(--color-primary);
	--color-link-hover: var(--color-secondary);

	/* -----------------------------------------------------------------------------
	 * Text
	 * ----------------------------------------------------------------------------- */

	--color-text: var(--color-black);
	--color-text-selection: var(--color-white);

	/* -----------------------------------------------------------------------------
	 * Borders
	 * ----------------------------------------------------------------------------- */

	--color-border: var(--color-grey);
	--color-border-form-field: #e1e6ea;

	/* -----------------------------------------------------------------------------
	 * Alert Colors
	 * ----------------------------------------------------------------------------- */

	--alert-color: var(--color-white);
	--alert-bg-default: var(--color-bc-blue-light);
	--alert-success: #3ec889;
	--alert-error: #ff0012;
	--alert-bg-info: var(--color-bc-concrete);
}
