:root {
	--path-css-vendor: ../pcss/vendor;
	--path-images: ../img;
	--path-fonts: ../fonts;
	--path-level-2-css-vendor: ../../pcss/vendor;
	--path-level-2-images: ../../img;
	--path-level-2-fonts: ../../fonts;
}
