:root {
	--transition: all 0.15s ease-in-out;
	--transition-opacity: opacity 0.3s ease;
	--transition-ease-out-opacity: opacity 0.25s ease-out;
	--transition-ease-in-opacity: opacity 250ms 300ms ease-in;
	--transition-embed-icon: opacity 0.15s ease-in-out, background-color 0.2s, transform 0.2s ease;
	--transition-wp-playlist-icon: background-color 0.2s, transform 0.2s ease;
	--transition-border: border 70ms;
	--transition-color-fast: color 70ms;
}
