:root {
	/* -----------------------------------------------------------------------------
	 * Font Stacks
	 * ----------------------------------------------------------------------------- */

	--font-family-bigcommerce-icons: 'bigcommerce-icons';
	--font-family-proxima-nova: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-base: var(--font-family-proxima-nova);

	/* -----------------------------------------------------------------------------
	 * Font Sizing
	 * ----------------------------------------------------------------------------- */

	--font-size-base: 16px;
	--font-size-content: 1em;
	--font-size-content-xxxl: 2em;
	--font-size-content-xxl: 1.5em;
	--font-size-content-xl: 1.25em;
	--font-size-content-lg: 1.125em;
	--font-size-content-m: 0.875em;
	--font-size-content-s: 0.813em;
	--font-size-content-xs: 0.75em;
	--font-size-content-xxs: 0.625em;

	/* -----------------------------------------------------------------------------
	 * Font Weights
	 * ----------------------------------------------------------------------------- */

	--font-weight-thin: 200;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* -----------------------------------------------------------------------------
	 * Line Heights
	 * ----------------------------------------------------------------------------- */

	--line-height-base: 1.5;
	--line-height-l: 1.6;
	--line-height-m: 1.375;
	--line-height-s: 1.3;
	--line-height-ss: 1.2;
	--line-height-sss: 1.125;
	--line-height-even: 1;

	/* -----------------------------------------------------------------------------
	 * Border Radius
	 * ----------------------------------------------------------------------------- */

	--border-radius-base: 4px;
	--border-radius-round: 50%;
}
