:root {
	/* -----------------------------------------------------------------------------
	 * Font Stacks
	 * ----------------------------------------------------------------------------- */

	--font-family-bigcommerce-icons: 'bigcommerce-icons';
	--font-family-proxima-nova: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-family-base: var(--font-family-proxima-nova);

	/* -----------------------------------------------------------------------------
	 * Font Sizing
	 * ----------------------------------------------------------------------------- */

	--font-size-base: 18px;
	--font-size-content: 18px;
	--font-size-content-s: 16px;

	/* -----------------------------------------------------------------------------
	 * Font Weights
	 * ----------------------------------------------------------------------------- */

	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semibold: 600;
	--font-weight-bold: 700;

	/* -----------------------------------------------------------------------------
	 * Line Heights
	 * ----------------------------------------------------------------------------- */

	--line-height-base: 1.5;
	--line-height-m: 1.33;
	--line-height-s: 1.25;
	--line-height-ss: 1.15;
	--line-height-even: 1;

	/* -----------------------------------------------------------------------------
	 * Border Radius
	 * ----------------------------------------------------------------------------- */

	--border-radius-base: 4px;
	--border-radius-round: 50%;
}
