:root {
	/* -----------------------------------------------------------------------------
	 * Placeholder
	 * ----------------------------------------------------------------------------- */

	--form-placeholder-color: var(--form-color-placeholder);
	--form-placeholder-color-focus: lighten(var(--form-color-placeholder), 0.25);
	--form-placeholder-font-style: normal;
	--form-placeholder-font-weight: var(--font-weight-regular);
	--form-placeholder-font-size: var(--form-font-size);
	--form-placeholder-font-line-height: inherit;
	--form-placeholder-font-family: var(--form-font-family);
	--form-placeholder-letter-spacing: var(--form-letter-spacing);
	--form-placeholder-text-transform: var(--form-text-transform);
}
