:root {
	/* -----------------------------------------------------------------------------
	 * Controls
	 * ----------------------------------------------------------------------------- */

	--form-control-bgd-color: var(--color-white);
	--form-control-border-color: var(--form-border-color);
	--form-control-border-color-focus: var(--form-border-color-focus);
	--form-control-border-radius: var(--form-border-radius);
	--form-control-border-size: var(--form-border-size);
	--form-control-border-size-focus: var(--form-border-size-focus);
	--form-control-color: var(--form-color);
	--form-control-font-style: normal;
	--form-control-font-weight: var(--font-weight-regular);
	--form-control-font-size: var(--form-font-size);
	--form-control-font-line-height: var(--line-height-base);
	--form-control-font-family: var(--form-font-family);
	--form-control-letter-spacing: var(--form-letter-spacing);
	--form-control-margin-bottom: var(--form-margin);
	--form-control-padding: 0 var(--form-padding-horizontal);
	--form-control-text-transform: var(--form-text-transform);

	/* -----------------------------------------------------------------------------
	 * Control Icon
	 * ----------------------------------------------------------------------------- */

	--form-control-icon-color: var(--form-ui-icon-color);
	--form-control-icon-font-size: var(--form-ui-icon-font-size);
	--form-control-icon-line-height: var(--form-control-height);
	--form-control-icon-width: var(--form-control-height);
	--form-control-icon-padding-right: var(--form-control-icon-width);
	--form-control-icon-position-right: 0;
	--form-control-icon-position-top: 0;

	/* -----------------------------------------------------------------------------
	 * Control: Textarea
	 * ----------------------------------------------------------------------------- */

	--form-control-textarea-height: 225px;
	--form-control-textarea-padding: 14px var(--form-padding-horizontal);

	/* -----------------------------------------------------------------------------
	 * Control: Select
	 * ----------------------------------------------------------------------------- */

	--form-control-select-multiple-height: 100px;
	--form-control-select-multiple-padding: var(--form-padding-vertical) var(--form-padding-horizontal);
	--form-control-select-padding-right: calc(var(--form-control-select-ui-width) + var(--form-padding-horizontal));
	--form-control-select-ui-bgd-color: var(--form-ui-bgd-color);
	--form-control-select-ui-bgd-color-hover: var(--form-ui-bgd-color-focus);
	--form-control-select-ui-border-radius-top-right: var(--form-control-border-radius);
	--form-control-select-ui-border-radius-bottom-right: var(--form-control-border-radius);
	--form-control-select-ui-color: var(--form-ui-color);
	--form-control-select-ui-font-size: var(--form-ui-icon-select-font-size);
	--form-control-select-ui-height: calc(var(--form-control-height) - 2px);
	--form-control-select-ui-icon: var(--form-ui-icon-select);
	--form-control-select-ui-line-height: var(--form-control-height);
	--form-control-select-ui-position-right: 1px;
	--form-control-select-ui-position-top: 1px;
	--form-control-select-ui-width: var(--form-control-height);

	/* -----------------------------------------------------------------------------
	 * Control: Radio & Checkbox
	 * ----------------------------------------------------------------------------- */

	--form-control-group-radio-checkbox-padding-top: 8px;
	--form-control-group-radio-checkbox-padding-bottom: 4px;
	--form-control-radio-checkbox-label-color: var(--form-color);
	--form-control-radio-checkbox-label-color-checked: var(--form-control-color);
	--form-control-radio-checkbox-label-font-style: normal;
	--form-control-radio-checkbox-label-font-weight: var(--font-weight-regular);
	--form-control-radio-checkbox-label-font-size: var(--form-font-size-secondary);
	--form-control-radio-checkbox-label-font-line-height: var(--line-height-even);
	--form-control-radio-checkbox-label-font-family: var(--form-font-family);
	--form-control-radio-checkbox-label-letter-spacing: var(--form-letter-spacing);
	--form-control-radio-checkbox-label-max-width: 600px;
	--form-control-radio-checkbox-label-text-transform: var(--form-text-transform);
	--form-control-radio-checkbox-push-label-right: 10px;
	--form-control-radio-checkbox-margin-top: var(--form-margin-small);
	--form-control-radio-checkbox-hide-browser-ui-font-size: 12px;
	--form-control-radio-checkbox-hide-browser-ui-position-left: 6px;
	--form-control-radio-checkbox-hide-browser-ui-position-top: 2px;
	--form-control-radio-checkbox-ui-border-color: var(--form-control-border-color);
	--form-control-radio-checkbox-ui-border-color-focus: var(--form-border-color-focus);
	--form-control-radio-checkbox-ui-border-size: var(--form-control-border-size);
	--form-control-radio-checkbox-ui-border-size-focus: var(--form-control-border-size-focus);
	--form-control-radio-checkbox-ui-bgd-color: var(--form-control-bgd-color);
	--form-control-radio-checkbox-ui-color: var(--form-ui-color);
	--form-control-radio-checkbox-ui-height: calc(var(--form-control-height) / 2);
	--form-control-radio-checkbox-ui-position-left: 0;
	--form-control-radio-checkbox-ui-position-top: -2px;
	--form-control-radio-checkbox-ui-push-label-right: 34px;
	--form-control-radio-checkbox-ui-width: calc(var(--form-control-height) / 2);
	--form-control-checkbox-ui-border-size: 2px;
	--form-control-checkbox-ui-border-radius: var(--form-control-border-radius);
	--form-control-checkbox-ui-height: 5px;
	--form-control-checkbox-ui-position-left: 7px;
	--form-control-checkbox-ui-position-top: 5px;
	--form-control-checkbox-ui-width: 9px;
	--form-control-radio-ui-position-left: 8px;
	--form-control-radio-ui-position-top: 6px;
	--form-control-radio-ui-width: 8px;
	--form-control-radio-ui-height: 8px;

	/* -----------------------------------------------------------------------------
	 * Control: File
	 * ----------------------------------------------------------------------------- */

	--form-control-file-font-size: var(--form-font-size);
	--form-control-file-padding: var(--form-padding-vertical) var(--form-padding-horizontal);

	/* -----------------------------------------------------------------------------
	 * Control: Submit & Buttons
	 * ----------------------------------------------------------------------------- */

	--form-control-button-margin-top: var(--form-margin);
}
