:root {
	--form-fieldset-styled-border-size: var(--form-border-size);
	--form-fieldset-styled-border-color: var(--form-border-color);
	--form-fieldset-styled-border-radius: var(--form-border-radius);
	--form-fieldset-styled-margin: 0 0 var(--form-margin);
	--form-fieldset-styled-padding: var(--form-padding-vertical) var(--form-padding-horizontal);
}
