:root {
	/* -----------------------------------------------------------------------------
	 * Label
	 * ----------------------------------------------------------------------------- */

	--form-label-color: var(--form-color);
	--form-label-font-style: normal;
	--form-label-font-weight: var(--form-font-weight-secondary);
	--form-label-font-size: var(--form-font-size-secondary);
	--form-label-font-line-height: var(--line-height-even);
	--form-label-font-family: var(--form-font-family);
	--form-label-letter-spacing: var(--form-letter-spacing);
	--form-label-margin-bottom: var(--form-margin-small);
	--form-label-text-transform: var(--form-text-transform);

	/* -----------------------------------------------------------------------------
	 * Control Helper Text
	 * ----------------------------------------------------------------------------- */

	--form-control-helper-color: var(--form-color-secondary);
	--form-control-helper-font-style: normal;
	--form-control-helper-font-weight: var(--form-font-weight-tertiary);
	--form-control-helper-font-size: var(--form-font-size-tertiary);
	--form-control-helper-font-line-height: 1.15;
	--form-control-helper-font-family: var(--form-font-family);
	--form-control-helper-letter-spacing: var(--form-letter-spacing);
	--form-control-helper-margin-top: 8px;
	--form-control-helper-padding: 0 8px;
	--form-control-helper-text-transform: var(--form-text-transform);
}
