:root {
	/* -----------------------------------------------------------------------------
	 * Legend
	 * ----------------------------------------------------------------------------- */

	--form-legend-color: var(--form-color);
	--form-legend-font-style: normal;
	--form-legend-font-weight: var(--form-font-weight-secondary);
	--form-legend-font-size: var(--form-font-size-secondary);
	--form-legend-font-line-height: var(--line-height-even);
	--form-legend-font-family: var(--form-font-family);
	--form-legend-letter-spacing: var(--form-letter-spacing);
	--form-legend-margin-bottom: var(--form-margin-small);
	--form-legend-text-transform: var(--form-text-transform);

	/* -----------------------------------------------------------------------------
	 * Legend, styled
	 * ----------------------------------------------------------------------------- */

	--form-legend-styled-color: var(--form-color);
	--form-legend-styled-font-style: normal;
	--form-legend-styled-font-weight: var(--form-font-weight-secondary);
	--form-legend-styled-font-size: var(--form-font-size-secondary);
	--form-legend-styled-font-line-height: var(--line-height-even);
	--form-legend-styled-font-family: var(--form-font-family);
	--form-legend-styled-letter-spacing: var(--form-letter-spacing);
	--form-legend-styled-margin-bottom: var(--form-margin-small);
	--form-legend-styled-padding: 0 8px;
	--form-legend-styled-text-align: left;
	--form-legend-styled-text-transform: var(--form-text-transform);
}
