.u-bc-text-light {
	color: var(--color-white);

	&.bc-btn {

		&:hover,
		&:focus {
			color: var(--color-white);
		}
	}
}

.u-bc-text-dark {
	color: var(--color-bc-black);

	&.bc-btn {

		&:hover,
		&:focus {
			color: var(--color-bc-black);
		}
	}
}
