
/* -----------------------------------------------------------------------------
 *
 * Hide from screenreaders & browsers
 *
 * ----------------------------------------------------------------------------- */

.u-bc-hidden {
	@mixin hidden;
}

/* -----------------------------------------------------------------------------
 *
 * Hide from browsers & show for screenreaders
 *
 * ----------------------------------------------------------------------------- */

.u-bc-visual-hide,
.u-bc-screen-reader-text {
	@mixin visually-hide;
}

/* -----------------------------------------------------------------------------
 *
 * Show for browsers & screenreaders
 *
 * ----------------------------------------------------------------------------- */

.u-bc-visual-show {
	@mixin visually-hide;
}
