.gutenberg {

	.bc-product-gallery--has-carousel {

		.swiper-slide {
			display: none;

			&:first-of-type {
				display: block;
			}
		}
	}

	.bc-quickview-trigger {
		border: 0;
		outline: none;
	}
}
