.post-php.post-type-bigcommerce_product {

	#titlewrap {
		display: none;
	}

	#titlediv .product-title {
		padding: 5px 10px;
		font-size: 1.7em;
		font-weight: normal;
		margin: 0 0 3px;
	}

	.misc-pub-bigcommerce .dashicons {
		position: relative;
		top: -3px;
		padding-right: 3px;
		color: #82878c;
	}
}
