$icomoon-font-family: "bigcommerce-icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-bc-bigcommerce_diagnostics: "\e912";
$icon-bc-channel_select: "\e911";
$icon-bc-channel: "\e911";
$icon-bc-credentials: "\e910";
$icon-bc-sync: "\e90f";
$icon-bc-accounts: "\e906";
$icon-bc-analytics: "\e907";
$icon-bc-cart: "\e908";
$icon-bc-currency: "\e909";
$icon-bc-gift_certificates: "\e90a";
$icon-bc-import: "\e90b";
$icon-bc-order_confirmation: "\e90c";
$icon-bc-product_reviews: "\e90d";
$icon-bc-shipping_returns: "\e90e";
$icon-bc-b-logo: "\e901";
$dashicons-bigcommerce: "\e901";
$icon-bc-arrow-solid: "\e902";
$icon-bc-selected: "\e903";
$icon-bc-arrow-toggle: "\e905";
$icon-bc-undo: "\e913";
$icon-bc-tag: "\e914";
$icon-bc-grid: "\e915";
$icon-bc-gear: "\e916";
$icon-bc-store-front: "\e917";
$icon-bc-customize: "\e918";
$icon-bc-authenticate: "\e91b";
$icon-bc-next_steps: "\e91b";
$icon-bc-dollar-sign: "\e91c";
$icon-bc-arrow-left: "\e094";
$icon-bc-arrow-right: "\e095";
$icon-bc-arrow-up: "\e096";
$icon-bc-arrow-down: "\e097";
$icon-bc-plus: "\e114";
$icon-bc-minus: "\e115";
$icon-bc-check: "\e116";
$icon-bc-cross: "\e117";
$icon-bc-search: "\e036";
$icon-bc-chevron-down: "\e900";
$icon-bc-chevron-left: "\e91a";
$icon-bc-chevron-right: "\e919";
$icon-bc-chevron-up: "\e904";

