.bc-account-page {
	border-top: 1px solid var(--color-bc-light-grey);
	border-bottom: 1px solid var(--color-bc-light-grey);
	padding: 40px 0;

	@media (--viewport-medium) {
		padding: 60px 0 90px;
	}
}
