.bc-account-lost-password {
	@media (--viewport-medium) {
		margin: 0 auto;
		max-width: 510px;
	}
}

.bc-account-lost-password__account-actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
	margin-top: 30px;
}

.bc-account-lost-password__account-link {

	+ .bc-account-lost-password__account-link {
		margin-left: 30px;
	}
}
