swagger: '2.0'
info:
  version: '1.0'
  title: "BigCommerce Channels API"
  description: The Channels API enables you to create and manage listings across a BigCommerce merchant's sales channels.
host: "api.bigcommerce.com"
tags:
  - name: Channels
    description: BigCommerce Channels API Definition.
schemes:
- http
consumes:
- application/json
produces:
- application/json
paths:
  /channels:
    x-summary: Channels Collection
    x-description: |
      Channels are representations of where a merchant could sell their products and services on, whether it be online or in-person. They are what show in the UI when a merchant goes to list products to a Channel, manage its Orders, etc.
    get:
      summary: List all Channels
      tags:
        - Channels
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Channel'
          examples:
            application/json:
              - id: 1
                type: wordpress
                name: mysite.com
                external_id: 12345
                config:
                  default_currency: USD
                  default_price_list_id: 5
                  storefront_urls:
                    cart: https://mysite.com/items
                    home: https://mysite.com/
                    login: https://mysite.com/login
                    register: https://mysite.com/register
                    account: https://mysite.com/my-account
                created_at: 2018-01-04T04:15:50+00:00
                updated_at: 2018-01-18T01:22:10+00:00
              - id: 2
                type: wordpress
                name: mysite-2.com
                external_id: 23456
                config:
                  default_currency: USD
                  default_price_list_id: 5
                  storefront_urls:
                    cart: https://mysite-2.com/cart
                    home: https://mysite-2.com/
                    login: https://mysite-2.com/login
                    register: https://mysite-2.com/signup
                    account: https://mysite-2.com/account
                created_at: 2018-01-09T00:12:40+00:00
                updated_at: 2018-01-18T01:26:10+00:00
    post:
      summary: Create a Channel
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Channel'
      tags:
        - Channels
      responses:
        200:
          description: ''
          schema:
            $ref: '#/definitions/Channel'
          examples:
            application/json:
              id: 1
              type: wordpress
              name: mysite.com
              external_id: '12345'
              config:
                default_currency: 'USD'
                default_price_list_id: 5
                storefront_urls:
                  cart: https://mysite.com/items
                  home: http//mysite.com/
                  login: https://mysite.com/login
                  register: https://mysite.com/register
                  account: https://mysite.com/my-account
              created_at: 2018-01-04T04:15:50+00:00
              updated_at: 2018-01-18T01:22:10+00:00
  /channels/{channelId}:
    parameters:
      - name: "channelId"
        in: "path"
        description: "The ID of a Channel that's available through GET /channels"
        required: true
        type: "integer"
        format: "int64"
    x-summary: Channel
    x-description: |
      Retrieve, update or remove a specific Channel
    get:
      summary: Get Channel
      tags:
        - Channels
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/Channel'
          examples:
            application/json:
              id: 1
              type: wordpress
              external_id: 12345
              name: mysite.com
              config:
                default_currency: null
                default_price_list_id: null
                storefront_urls:
                  cart: https://mysite.com/items
                  home: http//mysite.com/
                  login: https://mysite.com/login
                  register: https://mysite.com/register
                  account: https://mysite.com/my-account
                  shipping_returns: https://mysite.com/shipping-and-returns
              created_at: 2018-01-04T04:15:50+00:00
              updated_at: 2018-01-18T01:22:10+00:00
    put:
      summary: Update Channel
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Channel'
      tags:
        - Channels
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Channel'
          examples:
            application/json:
              id: 1
              type: wordpress
              name: mysite.com
              external_id: 78787
              config:
                default_currency: USD
                default_price_list_id: 50
                storefront_urls:
                  cart: https://mysite.com/items
                  home: http//mysite.com/
                  login: https://mysite.com/login
                  register: https://mysite.com/register
                  account: https://mysite.com/my-account
                  shipping_returns: https://mysite.com/shipping-and-returns
              created_at: 2018-01-04T04:15:50+00:00
              updated_at: 2018-01-18T08:42:10+00:00
    delete:
      summary: Delete Channel
      tags:
        - Channels
      responses:
        204:
          description: |
             Deleting a Channel will cause any future Orders created with the Channel to fall back to the standard BigCommerce source.
  /channels/listings:
    x-summary: Channel Listings Collection
    x-description: |
      Listings are representations of a product or variants purchasable state on a Channel
    get:
      summary: List all Channels Listings
      parameters:
        - in: query
          name: channel_id
          type: integer
          x-example: 1
      tags:
        - Channels
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Listing'
          examples:
            application/json:
              data:
                - channel_id: 1
                  listing_id: 123
                  product_id: 5431
                  external_product_id: PRD-LST1
                  external_link: http://www.mysite.com/products/product-name
                  state: active
                  name: Product Name
                  description: This is a wonderful description.
                  brand: Brand Name
                  condition: New
                  categories:
                   - 12
                   - 42
                  custom_properties:
                    example_prop_one: Sample Category Attribute
                    example_prop_two: Another Attribute
                  created_at: 2018-01-04T04:15:50+00:00
                  updated_at: 2018-01-18T05:32:12+00:00
                  errors:
                    - code: error_code_one
                      message: This is the error message.
                      severity: error
                  variants:
                    - variant_id: 42424
                      external_variant_id: VRT-231241
                      state: active
                      price: 45.25
                      custom_properties:
                        example_prop_one: Variant Level Custom Prop
                      errors:
                        - code: warning_code_one
                          message: This is the warning message.
                          severity: warning
                      created_at: 2018-01-04T04:15:50+00:00
                      updated_at: 2018-01-18T05:32:12+00:00
              meta:
                total: 1
    post:
      summary: Create a Channel Listing
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Listing'
      tags:
        - Channels
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Listing'
  /channels/listings/{listingId}:
    parameters:
      - name: "listingId"
        in: "path"
        description: "The ID of a Channel Listing that's available through GET /channels/listings"
        required: true
        type: "integer"
        format: "int64"
    x-summary: Channel Listing
    x-description: |
      Retrieve, update or remove a specific Channel Listing
    get:
      summary: Get Channel Listing
      tags:
        - Channels
      responses:
        200:
          description: Successful Response
          schema:
            $ref: '#/definitions/Listing'
    put:
      summary: Update Channel Listing
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/Listing'
      tags:
        - Channels
      responses:
        201:
          description: ''
          schema:
            $ref: '#/definitions/Listing'
    delete:
      summary: Delete Channel Listing
      tags:
        - Channels
      responses:
        204:
          description: |
            This will completely remove the Listing from the Channel.
definitions:
  Channel:
    title: Channel
    type: object
    properties:
      id:
        type: integer
        format: int32
      type:
        type: string
      external_id:
        type: string
      name:
        type: string
      config:
        type: object
        properties:
          default_currency:
            type: string
          default_price_list_id:
            type: integer
            format: int32
          storefront_urls:
            type: object
            properties:
              cart:
                type: string
              home:
                type: string
              login:
                type: string
              register:
                type: string
              account:
                type: string
              shipping_returns:
                type: string
      created_at:
        type: string
      updated_at:
        type: string
    required:
      - name
  Listing:
    title: Listing
    type: object
    properties:
      channel_id:
        type: integer
        format: int64
      listing_id:
        type: integer
        format: int32
      product_id:
        type: integer
        format: int32
      external_product_id:
        type: string
      external_link:
        type: string
      state:
        enum:
            - unknown_listing_state
            - pending
            - pending_disable
            - pending_delete
            - queued
            - submitted
            - active
            - error
            - rejected
            - disabled
            - deleted
      name:
        type: string
      description:
        type: string
      brand:
        type: string
      condition:
        type: string
      categories:
        type: array
        items:
          type: string
      custom_properties:
        type: object
        properties:
          example_prop_one:
            type: string
          example_prop_two:
            type: string
      created_at:
        type: string
      updated_at:
        type: string
      errors:
        type: array
        items:
          $ref: '#/definitions/ListingError'
      variants:
        type: array
        items:
          $ref: '#/definitions/ListingVariant'
    required:
      - product_id
      - state
  ListingError:
    title: Listing Error
    type: object
    properties:
      code:
        type: string
      message:
        type: string
      severity:
        enum:
            - warning
            - error
  ListingVariant:
    title: Listing Variants
    type: object
    properties:
      variant_id:
        type: integer
        format: int32
      external_variant_id:
        type: string
      state:
        type: string
      price:
        type: number
      custom_properties:
        type: object
        properties:
          example_prop_one:
            type: string
          example_prop_two:
            type: string
      errors:
        type: array
        items:
          $ref: '#/definitions/ListingError'
      created_at:
        type: string
      updated_at:
        type: string
    required:
      - variant_id
      - state
