swagger: "2.0"
info:
  title: BigCommerce API
  version: 3.0.0b
  description: A Swagger Document for the BigCommmerce v3 API.
  termsOfService: "http://www.bigcommerce.com/terms"
host: "api.bigcommerce.com"
basePath: "/stores/{{store_id}}/v3"
tags:
  - name: Catalog
    description: BigCommerce Catalog API Definition.
  - name: Customers
    description: BigCommerce Customers API Definition.
  - name: Orders
    description: BigCommerce Orders API Definition.
  - name: Themes
    description: BigCommerce Themes API Definition.
  - name: PriceLists
    description: BigCommerce Price Lists API Definition.
  - name: Script
    description: BigCommerce Scripts API Definition.
schemes:
  - https
produces:
  - application/json
consumes:
  - application/json
paths:
  /catalog/products:
    get:
      tags:
        - Catalog
      description: |
        Returns a paginated collection of `Products` objects from the BigCommerce Catalog.
      operationId: getProducts
      parameters:
        - $ref: "#/parameters/FilterIdParam"
        - $ref: "#/parameters/FilterNameParam"
        - $ref: "#/parameters/FilterSkuParam"
        - $ref: "#/parameters/FilterUpcParam"
        - $ref: "#/parameters/FilterPriceParam"
        - $ref: "#/parameters/FilterWeightParam"
        - $ref: "#/parameters/FilterConditionParam"
        - $ref: "#/parameters/FilterBrandIdParam"
        - $ref: "#/parameters/FilterDateModifiedParam"
        - $ref: "#/parameters/FilterDateLastImportedParam"
        - $ref: "#/parameters/FilterIsVisibleParam"
        - $ref: "#/parameters/FilterIsFeaturedParam"
        - $ref: "#/parameters/FilterIsFreeShippingParam"
        - $ref: "#/parameters/FilterInventoryLevelParam"
        - $ref: "#/parameters/FilterInventoryLowParam"
        - $ref: "#/parameters/FilterOutOfStockParam"
        - $ref: "#/parameters/FilterTotalSoldParam"
        - $ref: "#/parameters/ProductFilterTypeParam"
        - $ref: "#/parameters/FilterCategoriesParam"
        - $ref: "#/parameters/ProductFilterKeywordParam"
        - $ref: "#/parameters/ProductFilterKeywordContextParam"
        - $ref: "#/parameters/FilterStatusParam"
        - $ref: "#/parameters/FilterIncludeParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
        - $ref: "#/parameters/FilterAvailabilityParam"
        - $ref: "#/parameters/FilterPriceListIdParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/DirectionParam"
        - $ref: "#/parameters/ProductSortParam"
      responses:
        200:
          description: |
            An array of products and metadata.
          schema:
            $ref: "#/definitions/ProductCollectionResponse"
    post:
      tags:
        - Catalog
      description: |
        Creates a `Product` in the BigCommerce Catalog.
      operationId: createProduct
      parameters:
        - name: product
          in: body
          required: true
          description: |
            A BigCommerce `Product` object.
          schema:
            $ref: "#/definitions/ProductPost"
      responses:
        200:
          description: |
            A product.
          schema:
            $ref: "#/definitions/ProductResponse"
        422:
          description: |
            `Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            `Product` was in conflict with another product. This is the result of duplicate unique values, such as name or SKU; a missing or invalid `category_id`, `brand_id`, or `tax_class id`; or a conflicting `bulk_pricing_rule`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Product` objects from the BigCommerce Catalog.
      operationId: deleteProducts
      parameters:
        - $ref: "#/parameters/FilterNameParam"
        - $ref: "#/parameters/FilterSkuParam"
        - $ref: "#/parameters/FilterPriceParam"
        - $ref: "#/parameters/FilterWeightParam"
        - $ref: "#/parameters/FilterConditionParam"
        - $ref: "#/parameters/FilterBrandIdParam"
        - $ref: "#/parameters/FilterDateModifiedParam"
        - $ref: "#/parameters/FilterDateLastImportedParam"
        - $ref: "#/parameters/FilterIsVisibleParam"
        - $ref: "#/parameters/FilterIsFeaturedParam"
        - $ref: "#/parameters/FilterInventoryLevelParam"
        - $ref: "#/parameters/FilterTotalSoldParam"
        - $ref: "#/parameters/ProductFilterTypeParam"
        - $ref: "#/parameters/FilterCategoriesParam"
        - $ref: "#/parameters/ProductFilterKeywordParam"
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description: |
        Returns a `Product` from the BigCommerce Catalog.
      operationId: getProductById
      parameters:
        - $ref: "#/parameters/FilterIncludeParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
        - $ref: "#/parameters/FilterPriceListIdParam"
      responses:
        200:
          description: |
            A product.
          schema:
            $ref: "#/definitions/ProductResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a `Product` in the BigCommerce Catalog.
      operationId: updateProduct
      parameters:
        - name: product
          in: body
          required: true
          description: |
            A BigCommerce `Product` object.
          schema:
            $ref: "#/definitions/ProductPut"
      responses:
        200:
          description: |
            A product.
          schema:
            $ref: "#/definitions/ProductResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            `Product` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            `Product` was in conflict with another product. This is caused by: duplicate unique values, such as name or SKU; a missing category, brand, or tax_class with which the product is being associated; or a conflicting bulk pricing rule.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Product` object from the BigCommerce Catalog.
      operationId: deleteProductById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/images:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets all images on a product.
      operationId: getProductImages
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            List of product images and metadata.
          schema:
            $ref: "#/definitions/ProductImageCollectionResponse"
        204:
          description: |
            There are not any images on this product.
        404:
          description: |
            The product ID does not exist.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      description: |
        Creates an image on a product. Publicly accessible URLs and files (form post) are valid parameters.
      operationId: createProductImage
      parameters:
        - name: productImage
          in: body
          required: true
          description: |
            A BigCommerce `ProductImage` object.
          schema:
            $ref: "#/definitions/ProductImagePost"
      responses:
        200:
          description: |
            A product image.
          schema:
            $ref: "#/definitions/ProductImageResponse"
        404:
          description: |
            The product ID does not exist.
          schema:
            $ref: "#/definitions/NotFound"
  /catalog/products/{product_id}/images/{image_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/ImageIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets image on a product.
      operationId: getProductImageById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of product images and metadata.
          schema:
            $ref: "#/definitions/ProductImageResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates an image on a product. Publicly accessible URLs and files (form post) are valid parameters.
      operationId: updateProductImage
      parameters:
      - name: productImage
        in: body
        required: true
        description: |
          A BigCommerce `ProductImage` object.
        schema:
          $ref: "#/definitions/ProductImagePut"
      responses:
        200:
          description: |
            A product image.
          schema:
            $ref: "#/definitions/ProductImageResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductImage` in the BigCommerce Catalog.
      operationId: deleteProductImage
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/videos:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets all videos on a product.
      operationId: getProductVideos
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            List of product videos and metadata.
          schema:
            $ref: "#/definitions/ProductVideoCollectionResponse"
    post:
      tags:
        - Catalog
      description: |
        Creates a video on a product, using a video ID from a host site.
      operationId: createProductVideo
      parameters:
      - name: productVideo
        in: body
        required: true
        description: |
          A BigCommerce `ProductVideo` object.
        schema:
          $ref: "#/definitions/ProductVideoPost"
      responses:
        200:
          description: |
            A product video.
          schema:
            $ref: "#/definitions/ProductVideoResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
  /catalog/products/{product_id}/videos/{video_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/VideoIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets video on a product.
      operationId: getProductVideoById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of product videos and metadata.
          schema:
            $ref: "#/definitions/ProductVideoResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a video on a product.
      operationId: updateProductVideo
      parameters:
      - name: productVideo
        in: body
        required: true
        description: |
          A BigCommerce `ProductVideo` object.
        schema:
          $ref: "#/definitions/ProductVideoPut"
      responses:
        200:
          description: |
            A product video.
          schema:
            $ref: "#/definitions/ProductVideoResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductVideo` in the BigCommerce Catalog.
      operationId: deleteProductVideo
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/variants:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description: |
        Returns a `Variant` object list from the BigCommerce Catalog.
      operationId: getVariantsByProductId
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of variants and metadata.
          schema:
            $ref: "#/definitions/VariantCollectionResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      description:
        Creates a `Variant` object.
      operationId: createVariant
      parameters:
      - name: Variant
        in: body
        required: true
        description: |
          `Variant` object.
        schema:
          $ref: "#/definitions/VariantPost"
      responses:
        200:
          description: |
            A variant and metadata.
          schema:
            $ref: "#/definitions/VariantResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
  /catalog/products/{product_id}/variants/{variant_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/VariantIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets a `Variant` object.
      operationId: getVariantById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A variant and metadata.
          schema:
            $ref: "#/definitions/VariantResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description:
        Updates a `Variant` object.
      operationId: updateVariant
      parameters:
      - name: Variant
        in: body
        required: true
        description: |
          A `Variant` object.
        schema:
          $ref: "#/definitions/VariantPut"
      responses:
        200:
          description: |
            A variant and metadata.
          schema:
            $ref: "#/definitions/VariantResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Variant`.
      operationId: deleteVariantById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/variants/{variant_id}/metafields:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/VariantIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by `product_id` and `variant_id`.
      operationId: getVariantMetafieldsByProductIdAndVariantId
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/MetafieldKeyParam"
        - $ref: "#/parameters/MetafieldNamespaceParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of metafields and metadata.
          schema:
            $ref: "#/definitions/MetaFieldCollectionResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      description:
        Creates a variant `Metafield`.
      operationId: createVariantMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldPost"
      responses:
        200:
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        422:
          description: |
            The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate unique-key combinations of the app's client id, namespace, key, resource_type, and resource_id.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/variants/{variant_id}/metafields/{metafield_id}:
    parameters:
      - $ref: "#/parameters/MetafieldIdParam"
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/VariantIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by `product_id` and `variant_id`.
      operationId: getVariantMetafieldByProductIdAndVariantId
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description:
        Updates a `Metafield` object.
      operationId: updateVariantMetafield
      parameters:
      - name: Metafield
        in: body
        required: true
        description: |
          A `Metafield` object.
        schema:
          $ref: "#/definitions/MetafieldPut"
      responses:
        200:
          description: |
            A metafield and metadata.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteVariantMetafieldById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/variants/{variant_id}/image:
    post:
      tags:
        - Catalog
      operationId: createVariantImage
      parameters:
        - $ref: "#/parameters/ProductIdParam"
        - $ref: "#/parameters/VariantIdParam"
        - $ref: "#/parameters/ImageFileParam"
      consumes:
        - multipart/form-data
      responses:
        200:
          description: |
            A ResourceImage and metadata.
          schema:
            $ref: "#/definitions/ImageResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            Image was not valid. This is the result of a missing `image_file` field or of an incorrect file type. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/options:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets an array of `Option` objects.
      operationId: getOptions
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of options and metadata.
          schema:
            $ref: "#/definitions/OptionCollectionResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      parameters:
      - name: Option
        in: body
        required: true
        description: |
          An `Option` object.
        schema:
          $ref: "#/definitions/OptionPost"
      description:
        Creates an `Option`.
      operationId: createOption
      responses:
        200:
          description: |
            An `Option` object.
          schema:
            $ref: "#/definitions/OptionResponse"
        422:
          description: |
            Option was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            Option was in conflict with another option. This is the result of duplicate unique fields, such as `name`.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/options/{option_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/OptionIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets `Option` object by product ID and option ID.
      operationId: getOptionById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An `Option` object.
          schema:
            $ref: "#/definitions/OptionResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `Option`, based on the `product_id` and `option_id`.
      operationId: updateOption
      parameters:
        - name: option
          in: body
          required: true
          description: |
            A BigCommerce `Option` object.
          schema:
            $ref: "#/definitions/OptionPut"
      responses:
        200:
          description: |
            An `Option` object.
          schema:
            $ref: "#/definitions/OptionResponse"
        422:
          description: |
            The `Option` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Option` was in conflict with another option. This is the result of duplicate unique fields, such as `name`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `Option`, based on the `product_id` and `option_id`.
      operationId: deleteOptionById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/options/{option_id}/values:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/OptionIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets an array of `OptionValue` objects.
      operationId: getOptionValues
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of option values and metadata.
          schema:
            $ref: "#/definitions/OptionValueCollectionResponse"
    post:
      tags:
        - Catalog
      description:
        Creates a `OptionValue`.
      operationId: createOptionValue
      parameters:
        - name: OptionValue
          in: body
          required: true
          description: |
            A `OptionValue` object.
          schema:
            $ref: "#/definitions/OptionValuePost"
      responses:
        200:
          description: |
            A `OptionValue` object.
          schema:
            $ref: "#/definitions/OptionValueResponse"
        422:
          description: |
            The `OptionValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/options/{option_id}/values/{value_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/OptionIdParam"
      - $ref: "#/parameters/ValueIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `OptionValue` by `product_id`, `option_id`, and `value_id`.
      operationId: getOptionValueById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `OptionValue` object.
          schema:
            $ref: "#/definitions/OptionValueResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `OptionValue` based on the `product_id`, `option_id`, and `value_id`.
      operationId: updateOptionValue
      parameters:
        - name: OptionValue
          in: body
          required: true
          description: |
            A BigCommerce `OptionValue` object.
          schema:
            $ref: "#/definitions/OptionValuePut"
      responses:
        200:
          description: |
            A `OptionValue` object.
          schema:
            $ref: "#/definitions/OptionValueResponse"
        422:
          description: |
            The `OptionValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `OptionValue` based on the `product_id`, `option_id`, and `value_id`.
      operationId: deleteOptionValueById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/modifiers:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets an array of `Modifier` objects.
      operationId: getModifiers
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of modifiers and metadata.
          schema:
            $ref: "#/definitions/ModifierCollectionResponse"
    post:
      tags:
        - Catalog
      description:
        Creates a `Modifier`.
      operationId: createModifier
      parameters:
        - name: Modifier
          in: body
          required: true
          description: |
            A `Modifier` object.
          schema:
            $ref: "#/definitions/ModifierPost"
      responses:
        200:
          description: |
            A `Modifier` object.
          schema:
            $ref: "#/definitions/ModifierResponse"
        422:
          description: |
            The `Modifier` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Modifier` was in conflict with another option. This is the result of duplicate unique fields, such as `name`.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/modifiers/{modifier_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/ModifierIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Modifier` by product_id and modifier_id.
      operationId: getModifierById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `Modifier` object.
          schema:
            $ref: "#/definitions/ModifierResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `Modifier` based on the `product_id` and `modifier_id`.
      operationId: updateModifier
      parameters:
        - name: modifier
          in: body
          required: true
          description: |
            A BigCommerce `Modifier` object.
          schema:
            $ref: "#/definitions/ModifierPut"
      responses:
        200:
          description: |
            A `Modifier` object.
          schema:
            $ref: "#/definitions/ModifierResponse"
        422:
          description: |
            The `Modifier` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Modifier` was in conflict with another modifier or option. This is the result of duplicate unique fields, such as `name`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `Modifier` based on the `product_id` and `modifier_id`.
      operationId: deleteModifierById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/modifiers/{modifier_id}/values:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/ModifierIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets an array of `ModifierValue` objects.
      operationId: getModifierValues
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of modifier values and metadata.
          schema:
            $ref: "#/definitions/ModifierValueCollectionResponse"
    post:
      tags:
        - Catalog
      description:
        Creates a `ModifierValue`.
      operationId: createModifierValue
      parameters:
        - name: ModifierValue
          in: body
          required: true
          description: |
            A `ModifierValue` object.
          schema:
            $ref: "#/definitions/ModifierValuePost"
      responses:
        200:
          description: |
            A `ModifierValue` object.
          schema:
            $ref: "#/definitions/ModifierValueResponse"
        422:
          description: |
            The `ModifierValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/ModifierIdParam"
      - $ref: "#/parameters/ValueIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `ModifierValue` by `product_id`, `modifier_id`, and `value_id`.
      operationId: getModifierValueById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `ModifierValue` object.
          schema:
            $ref: "#/definitions/ModifierValueResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `ModifierValue` based on the `product_id`, `modifier_id`, and `value_id`.
      operationId: updateModifierValue
      parameters:
        - name: ModifierValue
          in: body
          required: true
          description: |
            A BigCommerce `ModifierValue` object.
          schema:
            $ref: "#/definitions/ModifierValuePut"
      responses:
        200:
          description: |
            A `ModifierValue` object.
          schema:
            $ref: "#/definitions/ModifierValueResponse"
        422:
          description: |
            The `ModifierValue` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `ModifierValue` based on the `product_id`, `modifier_id`, and `value_id`.
      operationId: deleteModifierValueById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/modifiers/{modifier_id}/values/{value_id}/image:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/ModifierIdParam"
      - name: value_id
        description: |
          The ID of the `Modifier`.
        required: true
        in: path
        type: integer
    post:
      tags:
        - Catalog
      description: Adds an image to a modifier value; the image will show on the storefront when the value is selected.
      operationId: createModifierImage
      parameters:
        - $ref: "#/parameters/ImageFileParam"
      consumes:
        - multipart/form-data
      responses:
        200:
          description: |
            A ResourceImage and metadata.
          schema:
            $ref: "#/definitions/ImageResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            Modifier image was not valid. This is the result of missing `image_file` fields, or of a non-URL value for the `image_file` field. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: Deletes the image that was set to show when the modifier value is selected.
      operationId: deleteModifierImage
      responses:
        204:
          description: Image removed from the modifier value.
  /catalog/products/{product_id}/complex-rules:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets an array of `ComplexRule` objects.
      operationId: getComplexRules
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of `ComplexRule` objects and metadata.
          schema:
            $ref: "#/definitions/ComplexRuleCollectionResponse"
    post:
      tags:
        - Catalog
      description:
        Creates a `ComplexRule`.
      operationId: createComplexRule
      parameters:
        - name: ComplexRule
          in: body
          required: true
          description: |
            `ComplexRule` object.
          schema:
            $ref: "#/definitions/ComplexRulePost"
      responses:
        200:
          description: |
            A `ComplexRule` object.
          schema:
            $ref: "#/definitions/ComplexRuleResponse"
        422:
          description: |
            The `ComplexRule` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `ComplexRule` was in conflict with another `ComplexRule`. This is the result of duplicate conditions.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/complex-rules/{complex_rule_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/ComplexRuleIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `ComplexRule` by product_id.
      operationId: getComplexRuleById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `Modifier` object.
          schema:
            $ref: "#/definitions/ComplexRuleResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `ComplexRule`, based on the `product_id` and `complex_rule_id`.
      operationId: updateComplexRule
      parameters:
        - name: ComplexRule
          in: body
          required: true
          description: |
            `ComplexRule` object.
          schema:
            $ref: "#/definitions/ComplexRulePut"
      responses:
        200:
          description: |
            A `ComplexRule` object.
          schema:
            $ref: "#/definitions/ComplexRuleResponse"
        422:
          description: |
            The `ComplexRule` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `ComplexRule` was in conflict with another `ComplexRule`. This is the result of duplicate conditions.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `ComplexRule`, based on the `product_id` and `complex_rule_id`.
      operationId: deleteComplexRuleById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/configurable-fields:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets an array of `ConfigurableField` objects.
      operationId: getConfigurableFields
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
      responses:
        200:
          description: |
            An array of `ConfigurableField` objects and metadata.
          schema:
            $ref: "#/definitions/ConfigurableFieldCollectionResponse"
    post:
      tags:
        - Catalog
      description:
        Creates a `ConfigurableField`.
      operationId: createConfigurableField
      parameters:
        - name: ConfigurableField
          in: body
          required: true
          description: |
            `ConfigurableField` object.
          schema:
            $ref: "#/definitions/ConfigurableFieldPost"
      responses:
        200:
          description: |
            A `ConfigurableField` object.
          schema:
            $ref: "#/definitions/ConfigurableFieldResponse"
        404:
          description: |
            The parent resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            The `ConfigurableField` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/configurable-fields/{configurable_field_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/ConfigurableFieldIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `ConfigurableField` by `product_id` and `configurable_field_id`.
      operationId: getConfigurableFieldById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `ConfigurableField` object.
          schema:
            $ref: "#/definitions/ConfigurableFieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `ConfigurableField`, based on the `product_id` and `configurable_field_id`.
      operationId: updateConfigurableField
      parameters:
        - name: ConfigurableField
          in: body
          required: true
          description: |
            `ConfigurableField` object.
          schema:
            $ref: "#/definitions/ConfigurableFieldPut"
      responses:
        200:
          description: |
            A `ConfigurableField` object.
          schema:
            $ref: "#/definitions/ConfigurableFieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            The `ConfigurableField` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `ConfigurableField`, based on the `product_id` and `configurable_field_id`.
      operationId: deleteConfigurableFieldById
      responses:
        204:
          description: |
            An empty response.
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
  /catalog/products/{product_id}/custom-fields:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets an array of `CustomField` objects.
      operationId: getCustomFields
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
      responses:
        200:
          description: |
            An array of `CustomField` objects and metadata.
          schema:
            $ref: "#/definitions/CustomFieldCollectionResponse"
    post:
      tags:
        - Catalog
      description:
        Creates a `CustomField`.
      operationId: createCustomField
      parameters:
        - name: CustomField
          in: body
          required: true
          description: |
            `CustomField` object.
          schema:
            $ref: "#/definitions/CustomFieldPost"
      responses:
        200:
          description: |
            A `CustomField` object.
          schema:
            $ref: "#/definitions/CustomFieldResponse"
        404:
          description: |
            The parent resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            The `CustomField` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/custom-fields/{custom_field_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/CustomFieldIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `CustomField` by `product_id` and `custom_field_id`.
      operationId: getCustomFieldById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `CustomField` object.
          schema:
            $ref: "#/definitions/CustomFieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `CustomField`, based on the `product_id` and `custom_field_id`.
      operationId: updateCustomField
      parameters:
        - name: CustomField
          in: body
          required: true
          description: |
            `CustomField` object.
          schema:
            $ref: "#/definitions/CustomFieldPut"
      responses:
        200:
          description: |
            A `CustomField` object.
          schema:
            $ref: "#/definitions/CustomFieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            The `CustomField` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `CustomField`, based on the `product_id` and `custom_field_id`.
      operationId: deleteCustomFieldById
      responses:
        204:
          description: |
            An empty response.
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
  /catalog/products/{product_id}/bulk-pricing-rules:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/PageParam"
      - $ref: "#/parameters/LimitParam"
    get:
      tags:
        - Catalog
      description:
        Gets an array of `BulkPricingRule` objects.
      operationId: getBulkPricingRules
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of `BulkPricingRule` objects and metadata.
          schema:
            $ref: "#/definitions/BulkPricingRuleCollectionResponse"
        404:
          description: |
            The parent resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      description:
        Creates a `BulkPricingRule`.
      operationId: createBulkPricingRule
      parameters:
        - name: BulkPricingRule
          in: body
          required: true
          description: |
            `BulkPricingRule` object.
          schema:
            $ref: "#/definitions/BulkPricingRulePost"
      responses:
        200:
          description: |
            A `BulkPricingRule` object.
          schema:
            $ref: "#/definitions/BulkPricingRuleResponse"
        404:
          description: |
            The parent resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        409:
          description: |
            The `BulkPricingRule` was in conflict with another bulk pricing rule. This is the result of quantity range overlapping with existing bulk pricing rules.
          schema:
            $ref: "#/definitions/ErrorResponse"
        422:
          description: |
            The `BulkPricingRule` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/bulk-pricing-rules/{bulk_pricing_rule_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/BulkPricingRuleIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `BulkPricingRule` by `product_id` and `bulk_pricing_rule_id`.
      operationId: getBulkPricingRuleById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `BulkPricingRule` object.
          schema:
            $ref: "#/definitions/BulkPricingRuleResponse"
        404:
          description: |
            The resource or parent resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a Product's `BulkPricingRule`, based on the `product_id` and `bulk_pricing_rule_id`.
      operationId: updateBulkPricingRule
      parameters:
        - name: BulkPricingRule
          in: body
          required: true
          description: |
            `BulkPricingRule` object.
          schema:
            $ref: "#/definitions/BulkPricingRulePut"
      responses:
        200:
          description: |
            A `BulkPricingRule` object.
          schema:
            $ref: "#/definitions/BulkPricingRuleResponse"
        404:
          description: |
            The resource or parent resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        409:
          description: |
            The `BulkPricingRule` was in conflict with another bulk pricing rule. This is the result of quantity range overlapping with existing bulk pricing rules.
          schema:
            $ref: "#/definitions/ErrorResponse"
        422:
          description: |
            The `BulkPricingRule` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a Product's `BulkPricingRule`, based on the `product_id` and `bulk_pricing_rule_id`.
      operationId: deleteBulkPricingRuleById
      responses:
        204:
          description: |
            An empty response.
        404:
          description: |
            The resource or parent resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
  /catalog/products/{product_id}/metafields:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by `product_id`.
      operationId: getProductMetafieldsByProductId
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/MetafieldKeyParam"
        - $ref: "#/parameters/MetafieldNamespaceParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of metafields and metadata.
          schema:
            $ref: "#/definitions/MetaFieldCollectionResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      description:
        Creates a product `Metafield`.
      operationId: createProductMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldPost"
      responses:
        200:
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        422:
          description: |
            The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate unique key combinations of the app's client id, namespace, key, resource_type, and resource_id.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/products/{product_id}/metafields/{metafield_id}:
    parameters:
      - $ref: "#/parameters/MetafieldIdParam"
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by `product_id`.
      operationId: getProductMetafieldByProductId
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description:
        Updates a `Metafield` object.
      operationId: updateProductMetafield
      parameters:
      - name: Metafield
        in: body
        required: true
        description: |
          A `Metafield` object.
        schema:
          $ref: "#/definitions/MetafieldPut"
      responses:
        200:
          description: |
            A metafield and metadata.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteProductMetafieldById
      responses:
        204:
          description: |
            An empty response.
  /catalog/products/{product_id}/reviews:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets all reviews on a product.
      operationId: getProductReviews
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
      responses:
        200:
          description: |
            List of product reviews and metadata.
          schema:
            $ref: "#/definitions/ProductReviewCollectionResponse"
        204:
          description: |
            There are no reviews on this product.
        404:
          description: |
            The product ID does not exist.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      description: |
        Creates a product review.
      operationId: createProductReview
      parameters:
        - name: productReview
          in: body
          required: true
          description: |
            A BigCommerce `ProductReview` object.
          schema:
            $ref: "#/definitions/ProductReviewPost"
      responses:
        200:
          description: |
            A product review.
          schema:
            $ref: "#/definitions/ProductReviewResponse"
        404:
          description: |
            The product ID does not exist.
          schema:
            $ref: "#/definitions/NotFound"
  /catalog/products/{product_id}/reviews/{review_id}:
    parameters:
      - $ref: "#/parameters/ProductIdParam"
      - $ref: "#/parameters/ReviewIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a product review.
      operationId: getProductReviewById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of product reviews and metadata.
          schema:
            $ref: "#/definitions/ProductReviewResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a product review.
      operationId: updateProductReview
      parameters:
        - name: productReview
          in: body
          required: true
          description: |
            A BigCommerce `ProductReview` object.
          schema:
            $ref: "#/definitions/ProductReviewPut"
      responses:
        200:
          description: |
            A product review.
          schema:
            $ref: "#/definitions/ProductReviewResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `ProductReview` in the BigCommerce Catalog.
      operationId: deleteProductReview
      responses:
        204:
          description: |
            An empty response.
  /catalog/categories:
    get:
      tags:
        - Catalog
      description: |
        Returns a paginated categories collection from the BigCommerce Catalog.
      operationId: getCategories
      parameters:
        - $ref: "#/parameters/FilterNameParam"
        - $ref: "#/parameters/FilterParentIdParam"
        - $ref: "#/parameters/FilterPageTitleParam"
        - $ref: "#/parameters/FilterKeywordParam"
        - $ref: "#/parameters/FilterIsVisibleParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of category objects and metadata.
          schema:
            $ref: "#/definitions/CategoryCollectionResponse"
    post:
      tags:
        - Catalog
      description: |
        Creates a `Category` in the BigCommerce Catalog.
      operationId: createCategory
      parameters:
        - name: category
          in: body
          required: true
          description: |
            A BigCommerce `Category` object.
          schema:
            $ref: "#/definitions/CategoryPost"
      responses:
        200:
          description: |
            A category object.
          schema:
            $ref: "#/definitions/CategoryResponse"
        422:
          description: |
            The `Category` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Category` was in conflict with another category. This is the result of duplicate unique values, such as `name` or `custom_url`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Category` objects from the BigCommerce Catalog.
      operationId: deleteCategories
      parameters:
        - $ref: "#/parameters/FilterNameParam"
        - $ref: "#/parameters/FilterParentIdParam"
        - $ref: "#/parameters/FilterPageTitleParam"
        - $ref: "#/parameters/FilterKeywordParam"
        - $ref: "#/parameters/FilterIsVisibleParam"
      responses:
        204:
          description: |
            An empty response.
  /catalog/categories/{category_id}:
    parameters:
      - $ref: "#/parameters/CategoryIdParam"
    get:
      tags:
        - Catalog
      description: |
        Returns a `Category` from the BigCommerce Catalog.
      operationId: getCategoryById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A category object.
          schema:
            $ref: "#/definitions/CategoryResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a `Category` in the BigCommerce Catalog.
      operationId: updateCategory
      parameters:
        - name: category
          in: body
          required: true
          description: |
            A BigCommerce `Category` object.
          schema:
            $ref: "#/definitions/CategoryPut"
      responses:
        200:
          description: |
            A category object.
          schema:
            $ref: "#/definitions/CategoryResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            The `Category` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Category` was in conflict with another category. This is the result of duplicate unique values, such as `name` or `custom_url`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Category` objects from the BigCommerce catalog.
      operationId: deleteCategoryById
      responses:
        204:
          description: |
            An empty response.
  /catalog/categories/{category_id}/metafields:
    parameters:
      - $ref: "#/parameters/CategoryIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by category_id.
      operationId: getCategoryMetafieldsByCategoryId
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/MetafieldKeyParam"
        - $ref: "#/parameters/MetafieldNamespaceParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of metafields and metadata.
          schema:
            $ref: "#/definitions/MetaFieldCollectionResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      description:
        Creates a product `Metafield`.
      operationId: createCategoryMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldPost"
      responses:
        200:
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        422:
          description: |
            The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate, unique key combinations of the app's client id, namespace, key, resource_type, and resource_id.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/categories/{category_id}/metafields/{metafield_id}:
    parameters:
      - $ref: "#/parameters/MetafieldIdParam"
      - $ref: "#/parameters/CategoryIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` by category_id.
      operationId: getCategoryMetafieldByCategoryId
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description:
        Updates a `Metafield` object.
      operationId: updateCategoryMetafield
      parameters:
      - name: Metafield
        in: body
        required: true
        description: |
          A `Metafield` object.
        schema:
          $ref: "#/definitions/MetafieldPut"
      responses:
        200:
          description: |
            A metafield and metadata.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteCategoryMetafieldById
      responses:
        204:
          description: |
            An empty response.
  /catalog/categories/{category_id}/image:
    parameters:
      - $ref: "#/parameters/CategoryIdParam"
    post:
      tags:
        - Catalog
      parameters:
        - $ref: "#/parameters/ImageFileParam"
      consumes:
        - multipart/form-data
      description: |
        Creates an image on a category. Publicly accessible URLs and files (form post) are valid parameters.
      operationId: createCategoryImage
      responses:
        200:
          description: |
            A ResourceImage and metadata.
          schema:
            $ref: "#/definitions/ImageResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            Image was not valid. This is the result of a missing `image_file` field or an incorrect file type. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Category` image from the BigCommerce Catalog.
      operationId: deleteCategoryImage
      responses:
        204:
          description: |
            An empty response.
  /catalog/categories/tree:
    get:
      tags:
        - Catalog
      description: |
        Returns the categories tree, a nested lineage of the categories with parent->child relationship. The `Category` objects returned are simplified versions of the category objects returned in the rest of this API.
      operationId: getCategoryTree
      responses:
        200:
          description: |
            A array of nested category tree objects and metadata.
          schema:
            $ref: "#/definitions/CategoryTreeCollectionResponse"
  /catalog/brands:
    get:
      tags:
        - Catalog
      description:  |
        Gets `Brand` objects.
      operationId: getBrands
      parameters:
        - $ref: "#/parameters/FilterNameParam"
        - $ref: "#/parameters/FilterPageTitleParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of brand objects and metadata.
          schema:
            $ref: "#/definitions/BrandCollectionResponse"
    post:
      tags:
        - Catalog
      description:
        Creates a `Brand` object.
      operationId: createBrand
      parameters:
      - name: Brand
        in: body
        required: true
        description: |
          A `Brand` object.
        schema:
          $ref: "#/definitions/BrandPost"
      responses:
        200:
          description: |
            A `Brand` object.
          schema:
            $ref: "#/definitions/BrandResponse"
        422:
          description: |
            Brand was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            Brand was in conflict with another brand. This is the result of duplicate unique fields such as name.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes one or more `Brand` objects from the BigCommerce Catalog.
      operationId: deleteBrands
      parameters:
        - $ref: "#/parameters/FilterNameParam"
        - $ref: "#/parameters/FilterPageTitleParam"
      responses:
        204:
          description: |
            An empty response.
  /catalog/brands/{brand_id}:
    parameters:
      - $ref: "#/parameters/BrandIdParam"
    get:
      tags:
        - Catalog
      description:
        Gets a `Brand` object.
      operationId: getBrandById
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `Brand` object.
          schema:
            $ref: "#/definitions/BrandResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description: |
        Updates a `Brand` in the BigCommerce Catalog.
      operationId: updateBrand
      parameters:
        - name: brand
          in: body
          required: true
          description: |
            Returns a `Brand` from the BigCommerce Catalog.
          schema:
            $ref: "#/definitions/BrandPut"
      responses:
        200:
          description: |
            A `Brand` object.
          schema:
            $ref: "#/definitions/BrandResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            The `Brand` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Brand` was in conflict with another product. This is the result of duplicate unique values, such as `name`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Brand` from the BigCommerce Catalog.
      operationId: deleteBrandById
      responses:
        204:
          description: |
            An empty response.
  /catalog/brands/{brand_id}/metafields:
    parameters:
      - $ref: "#/parameters/BrandIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield` object list, by `brand_id`.
      operationId: getBrandMetafieldsByBrandId
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/MetafieldKeyParam"
        - $ref: "#/parameters/MetafieldNamespaceParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of metafields and metadata.
          schema:
            $ref: "#/definitions/MetaFieldCollectionResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    post:
      tags:
        - Catalog
      description:
        Creates a product `Metafield`.
      operationId: createBrandMetafield
      parameters:
        - name: Metafield
          in: body
          required: true
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldPost"
      responses:
        200:
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        422:
          description: |
            The `Metafield` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Metafield` was in conflict with another `Metafield`. This can be the result of duplicate unique key combination of the app's client id, namespace, key, resource_type, and resource_id.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /catalog/brands/{brand_id}/metafields/{metafield_id}:
    parameters:
      - $ref: "#/parameters/MetafieldIdParam"
      - $ref: "#/parameters/BrandIdParam"
    get:
      tags:
        - Catalog
      description: |
        Gets a `Metafield`, by `category_id`.
      operationId: getBrandMetafieldByBrandId
      parameters:
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            A `Metafield` object.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Catalog
      description:
        Updates a `Metafield` object.
      operationId: updateBrandMetafield
      parameters:
      - name: Metafield
        in: body
        required: true
        description: |
          A `Metafield` object.
        schema:
          $ref: "#/definitions/MetafieldPut"
      responses:
        200:
          description: |
            A metafield and metadata.
          schema:
            $ref: "#/definitions/MetafieldResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Metafield`.
      operationId: deleteBrandMetafieldById
      responses:
        204:
          description: |
            An empty response.
  /catalog/brands/{brand_id}/image:
    parameters:
      - $ref: "#/parameters/BrandIdParam"
    post:
      tags:
        - Catalog
      description: |
        Creates an image on a `Brand`. Publicly accessible URLs and files (form post) are valid parameters.
      operationId: createBrandImage
      parameters:
        - $ref: "#/parameters/ImageFileParam"
      consumes:
        - multipart/form-data
      responses:
        200:
          description: |
            A ResourceImage and metadata.
          schema:
            $ref: "#/definitions/ImageResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            Image was not valid. This is the result of a missing `image_file` field, or of an incorrect file type. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Catalog
      description: |
        Deletes a `Brand` image from the BigCommerce Catalog.
      operationId: deleteBrandImage
      responses:
        204:
          description: Image deleted from the brand.
  /catalog/variants:
    get:
      tags:
        - Catalog
      description: |
        Returns a `Variant` object list from the BigCommerce Catalog.
      operationId: getVariants
      parameters:
        - $ref: "#/parameters/FilterIdParam"
        - $ref: "#/parameters/FilterSkuParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/FilterIncludeFieldsParam"
        - $ref: "#/parameters/FilterExcludeFieldsParam"
      responses:
        200:
          description: |
            An array of variants and metadata.
          schema:
            $ref: "#/definitions/VariantCollectionResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
  /catalog/summary:
    get:
      tags:
        - Catalog
      description: |
        Returns a lightweight inventory summary from the BigCommerce Catalog.
      responses:
        200:
          description: |
            An array of catalog summary and metadata.
          schema:
            $ref: "#/definitions/CatalogSummaryResponse"
  /customers/subscribers:
    get:
      tags:
        - Customers
      description: |
        Returns a paginated Subscribers collection.
      operationId: getSubscribers
      parameters:
        - $ref: "#/parameters/FilterEmailParam"
        - $ref: "#/parameters/FilterFirstNameParam"
        - $ref: "#/parameters/FilterLastNameParam"
        - $ref: "#/parameters/FilterSourceParam"
        - $ref: "#/parameters/FilterOrderIdParam"
        - $ref: "#/parameters/FilterDateCreatedParam"
        - $ref: "#/parameters/FilterDateModifiedParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
      responses:
        200:
          description: |
            An array of subscriber objects and metadata.
          schema:
            $ref: "#/definitions/SubscriberCollectionResponse"
    post:
      tags:
        - Customers
      description: |
        Creates a `Subscriber` object.
      operationId: createSubscriber
      parameters:
        - name: subscriber
          in: body
          required: true
          description: |
            `Subscriber` object.
          schema:
            $ref: "#/definitions/SubscriberPost"
      responses:
        200:
          description: |
            A `Subscriber` object.
          schema:
            $ref: "#/definitions/SubscriberResponse"
        422:
          description: |
            The `Subscriber` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Subscriber` was in conflict with another subscriber. This is the result of duplicate unique values, such as email.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Customers
      description: |
        Deletes a Subscriber or Subscribers from BigCommerce Customers.
      operationId: deleteSubscribers
      parameters:
        - $ref: "#/parameters/FilterEmailParam"
        - $ref: "#/parameters/FilterFirstNameParam"
        - $ref: "#/parameters/FilterLastNameParam"
        - $ref: "#/parameters/FilterSourceParam"
        - $ref: "#/parameters/FilterOrderIdParam"
        - $ref: "#/parameters/FilterDateCreatedParam"
        - $ref: "#/parameters/FilterDateModifiedParam"
      responses:
        204:
          description: |
            An empty response.
  /customers/subscribers/{subscriber_id}:
    parameters:
      - $ref: "#/parameters/SubscriberIdParam"
    get:
      tags:
        - Customers
      description:
        Gets `Subscriber` object.
      operationId: getSubscriberById
      responses:
        200:
          description: |
            A `Subscriber` object.
          schema:
            $ref: "#/definitions/SubscriberResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
    put:
      tags:
        - Customers
      description: |
        Updates a `Subscriber` object.
      operationId: updateSubscriber
      parameters:
        - name: subscriber
          in: body
          required: true
          description: |
            Returns a `Subscriber` object.
          schema:
            $ref: "#/definitions/SubscriberPut"
      responses:
        200:
          description: |
            A `Subscriber` object.
          schema:
            $ref: "#/definitions/SubscriberResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            The `Subscriber` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            The `Subscriber` was in conflict with another subscriber. This is the result of duplicate unique values, such as `email`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Customers
      description: |
        Deletes a `Subscriber` object.
      operationId: deleteSubscriberById
      responses:
        204:
          description: |
            An empty response.
  /orders/{order_id}/transactions:
      parameters:
        - $ref: "#/parameters/OrderIdParam"
      get:
        tags:
          - Orders
        description: |
          Returns a collection of `Transaction` objects related to a BigCommerce Order.
        operationId: getTransactions
        responses:
          200:
            description: |
              An array of transactions.
            schema:
              $ref: "#/definitions/TransactionCollectionResponse"
          204:
            description: |
              No content found to fulfill request.
            schema:
              $ref: "#/definitions/NoContent"
          404:
            description: |
              The resource was not found.
            schema:
              $ref: "#/definitions/NotFound"
      post:
        tags:
          - Orders
        description: |
          Creates a new `Transaction` related to a BigCommerce Order.
        operationId: createTransaction
        parameters:
          - name: transaction
            in: body
            required: true
            description: |
              A BigCommerce `Transaction` object.
            schema:
              $ref: "#/definitions/TransactionPost"
        responses:
          200:
            description: |
              Successful transaction object created call
            schema:
              $ref: "#/definitions/TransactionResponse"
          204:
            description: |
              No content found to fulfill request.
            schema:
              $ref: "#/definitions/NoContent"
          404:
            description: |
              The resource was not found.
            schema:
              $ref: "#/definitions/NotFound"
  /themes:
    get:
      tags:
        - Themes
      operationId: getStoreThemes
      summary: Gets all store themes.
      responses:
        200:
          description: Returns all themes associated with the BigCommerce store.
          schema:
            $ref: "#/definitions/ThemesCollectionResponse"
        default:
          description: Error message.
          schema:
            $ref: "#/definitions/ErrorResponse"
    post:
      tags:
        - Themes
      operationId: uploadTheme
      summary: Uploads a new theme to a BigCommerce store.
      consumes:
      - multipart/form-data
      parameters:
      - name: file
        description: The file.
        in: formData
        type: file
        required: true
      responses:
        201:
          description: Job ID for the background job processing the theme upload.
          schema:
            $ref: "#/definitions/JobId"
        default:
          description: Error message.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /themes/{theme_id}:
    get:
      tags:
        - Themes
      operationId: getStoreTheme
      summary: Gets a specified store theme.
      parameters:
      - $ref: "#/parameters/ThemeIdParam"
      responses:
        200:
          description: The theme.
          schema:
            $ref: "#/definitions/ThemeResponse"
        default:
          description: Error message.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - Themes
      operationId: deleteStoreTheme
      summary: Deletes a specified store theme.
      parameters:
      - $ref: "#/parameters/ThemeIdParam"
      responses:
        204:
          description: |
            No content found to fulfill the request.
          schema:
            $ref: "#/definitions/NoContent"
        default:
          description: Error message.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /themes/{theme_id}/actions/download:
    parameters:
      - $ref: "#/parameters/ThemeIdParam"
    post:
      tags:
        - Themes
      operationId: downloadTheme
      summary: Downloads a specified store theme.
      parameters:
      - name: which
        in: body
        required: true
        description: |
          A BigCommerce object specifying which theme to download. One of: `original`: the original Marketplace or uploaded custom theme; `last_activated`: the theme version most recently applied to the store; `last_created`: the theme version most recently created. If `which` is missing or invalid in the request, its value will default to `last_activated`.
        schema:
          $ref: "#/definitions/WhichThemeToDownload"
      responses:
        200:
          description: |
            Job ID for the background job processing the download.
          schema:
            $ref: "#/definitions/JobId"
        default:
          description: Error message.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /themes/actions/activate:
    post:
      tags:
        - Themes
      operationId: activateStoreTheme
      summary: Activates a store theme.
      parameters:
      - name: body
        description: Request parameters.
        in: body
        required: true
        schema:
          $ref: "#/definitions/Activate"
      responses:
        204:
          description: |
            No content found to fulfill the request.
          schema:
            $ref: "#/definitions/NoContent"
        default:
          description: Error message.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /themes/jobs/{job_id}:
    get:
      tags:
        - Themes
      operationId: getJob
      summary: Gets a specified job.
      parameters:
      - $ref: "#/parameters/JobIdParam"
      responses:
        200:
          description: The job.
          schema:
            $ref: "#/definitions/JobResponse"
        default:
          description: Error message.
          schema:
            $ref: "#/definitions/ErrorResponse"
  /pricelists:
    get:
      tags:
        - PriceLists
      description: |
        Returns a paginated collection of `Price List` objects from BigCommerce.
      operationId: getPriceListCollection
      parameters:
        - $ref: "#/parameters/FilterIdParam"
        - $ref: "#/parameters/FilterNameParam"
        - $ref: "#/parameters/FilterDateCreatedParam"
        - $ref: "#/parameters/FilterDateModifiedParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
      responses:
        200:
          description: |
            An array of Price Lists and metadata.
          schema:
            $ref: "#/definitions/PriceListCollectionResponse"
    post:
      tags:
        - PriceLists
      description: |
        Creates a `Price List` in BigCommerce.
      operationId: createPriceList
      parameters:
        - name: PriceList
          in: body
          required: true
          description: |
            A BigCommerce `PriceList` object.
          schema:
            $ref: "#/definitions/PriceListPost"
      responses:
        200:
          description: |
            A Price List.
          schema:
            $ref: "#/definitions/PriceListResponse"
        422:
          description: |
            `Price List` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            `Price List` was in conflict with another Price List. This is the result of duplicate unique values, such as `name`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
        tags:
          - PriceLists
        description: |
          Deletes a set of `Price List` objects from BigCommerce using a filter. Also removes all associated Price Recordss.
        operationId: deletePriceListsByFilter
        parameters:
                - $ref: "#/parameters/FilterIdParam"
                - $ref: "#/parameters/FilterNameParam"
        responses:
          204:
            description: |
              An empty response.
  /pricelists/{price_list_id}:
    parameters:
      - $ref: "#/parameters/PriceListIdParam"
    get:
      tags:
        - PriceLists
      description: |
        Returns a `Price List` object from BigCommerce.
      operationId: getPriceList
      responses:
        200:
          description: |
            An array of Price Lists and metadata.
          schema:
            $ref: "#/definitions/PriceListResponse"
    put:
      tags:
        - PriceLists
      description: |
          Updates a single `Price List` object.
      operationId: updatePriceList
      parameters:
        - name: PriceList
          in: body
          required: true
          description: |
            A BigCommerce `Price List` object.
          schema:
            $ref: "#/definitions/PriceListPut"
      responses:
        200:
          description: |
            A Price List.
          schema:
            $ref: "#/definitions/PriceListResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            `Price List` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            `Price List` was in conflict with another Price List. This is the result of duplicate unique values, such as `name`.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - PriceLists
      description: |
        Deletes one `Price List` object from BigCommerce by its ID. Also removes all associated Price Records.
      operationId: deletePriceList
      responses:
        204:
          description: |
            An empty response.
  /pricelists/{price_list_id}/records:
    parameters:
      - $ref: "#/parameters/PriceListIdParam"
    get:
      tags:
        - PriceLists
      description: |
        Fetches the `Price Records` associated with a particular Price List, using a filter.
      operationId: getPriceListRecordCollection
      parameters:
        - $ref: "#/parameters/FilterVariantIdParam"
        - $ref: "#/parameters/FilterProductIdParam"
        - $ref: "#/parameters/FilterCurrencyParam"
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/FilterIncludePriceRecordParam"
        - $ref: "#/parameters/FilterPriceParam"
        - $ref: "#/parameters/FilterSalePriceParam"
        - $ref: "#/parameters/FilterRetailPriceParam"
        - $ref: "#/parameters/FilterMapPriceParam"
        - $ref: "#/parameters/FilterCalculatedPriceParam"
        - $ref: "#/parameters/FilterDateCreatedParam"
        - $ref: "#/parameters/FilterDateModifiedParam"
        - $ref: "#/parameters/FilterSkuParam"
      responses:
        200:
          description: |
            An array of prices and metadata.
          schema:
            $ref: "#/definitions/PriceRecordCollectionResponse"
    put:
      tags:
        - PriceLists
      description: |
        Creates or updates a batch of `Price Records` associated with a particular Price List.
      operationId: setPriceListRecordCollection
      parameters:
        - name: X-Strict-Mode
          in: header
          type: integer
          required: false
          default: 0
          description: |
            Header that determines whether the Batch API operates in strict mode or not.  Strict mode will reject the entire request if any item in the batch has an error.
        - name: PriceRecordBatch
          in: body
          required: true
          description: |
            A BigCommerce `Price Record` request.
          schema:
            $ref: "#/definitions/PriceRecordCollectionPut"
      responses:
        200:
          description: |
           Success response for batch PUT of `Price Records`.
          schema:
            $ref: "#/definitions/SuccessBatchResponse"
        422:
          description: |
           Error response for batch PUT of `Price Records`.  May include errors during partial update in non-strict mode.
          schema:
            $ref: "#/definitions/PriceRecordBatchErrorResponse"
    delete:
      tags:
        - PriceLists
      description: |
        Deletes one or more `Price Record` objects from BigCommerce using a filter.
      operationId: deletePriceListRecordsByFilter
      parameters:
        - $ref: "#/parameters/FilterVariantIdParam"
      responses:
        204:
          description: |
            An empty response.
          schema:
            $ref: "#/definitions/NoContent"
  /pricelists/{price_list_id}/records/{variant_id}:
    parameters:
    - $ref: "#/parameters/PriceListIdParam"
    - $ref: "#/parameters/VariantIdParam"
    get:
      tags:
        - PriceLists
      description: |
        Fetches an array of `Price Records` matching a particular Price List and Variant ID. Will contain any set price records by currency.
      operationId: getPriceListRecordsByVariantId
      responses:
        200:
          description: |
            An array of prices and metadata.
          schema:
            $ref: "#/definitions/PriceRecordCollectionResponse"
    delete:
      tags:
        - PriceLists
      description: |
        Deletes the collection of `Price Record` objects associated with a certain price list and variant ID.
      operationId: deletePriceListRecordsByVariantId
      responses:
        204:
          description: |
            An empty response.
  /pricelists/{price_list_id}/records/{variant_id}/{currency_code}:
    parameters:
    - $ref: "#/parameters/PriceListIdParam"
    - $ref: "#/parameters/VariantIdParam"
    - $ref: "#/parameters/PriceRecordCurrencyParam"
    get:
      tags:
        - PriceLists
      description: |
        Returns a `Price Record` object from BigCommerce.
      operationId: getPriceListRecord
      parameters:
        - $ref: "#/parameters/FilterIncludePriceRecordParam"
      responses:
        200:
          description: |
            An array of prices and metadata.
          schema:
            $ref: "#/definitions/PriceRecordResponse"
    put:
      tags:
        - PriceLists
      description: |
          Creates or updates a single `Price Record` object.
      operationId: setPriceListRecord
      parameters:
        - name: PriceRecord
          in: body
          required: true
          description: |
            A BigCommerce `Price Record` object.
          schema:
            $ref: "#/definitions/PriceRecordPut"
      responses:
        200:
          description: |
            A price record.
          schema:
            $ref: "#/definitions/PriceRecordResponse"
        404:
          description: |
            The resource was not found.
          schema:
            $ref: "#/definitions/NotFound"
        422:
          description: |
            `Price Record` was not valid. This is the result of missing required fields, or of invalid data. See the response for more details.
          schema:
            $ref: "#/definitions/ErrorResponse"
        409:
          description: |
            `Price Record` was in conflict with another price record. This is the result of duplicate unique values.
          schema:
            $ref: "#/definitions/ErrorResponse"
    delete:
      tags:
        - PriceLists
      description: |
        Deletes one `Price Record` object from BigCommerce, by `variant_id`.
      operationId: deletePriceListRecord
      responses:
        204:
          description: |
            An empty response.
  /content/scripts:
    post:
      tags:
        - Script
      summary: Creates a script.
      operationId: createScript
      parameters:
        - name: scriptBody
          in: body
          required: true
          schema:
            $ref: "#/definitions/ScriptPost"
      responses:
        200:
          schema:
            $ref: "#/definitions/ScriptResponse"
          description: |
            Success.
        422:
          schema:
            $ref: "#/definitions/ErrorResponse"
          description: |
            This is the result of missing required fields, or of invalid data. See the response for more details.
    get:
      tags:
        - Script
      summary: Gets all scripts.
      operationId: getScripts
      parameters:
        - $ref: "#/parameters/PageParam"
        - $ref: "#/parameters/LimitParam"
        - $ref: "#/parameters/ScriptsSortKeyParam"
        - $ref: "#/parameters/DirectionParam"
      responses:
        200:
          schema:
            $ref: "#/definitions/ScriptsResponse"
[...]
