.bc-shortcode-ui__selected-products-title {
	margin-bottom: 0;
}

.bc-shortcode-ui__selected-product {
	margin-bottom: 17px;

	h5,
	span {
		margin: 0;
		display: inline;
		font-weight: normal;
		font-size: 14px;
		line-height: 20px;
	}
}

.bc-shortcode-ui__remove-selected {
	display: inline-block;
	background: transparent;
	border: 0;
	padding: 0;
	color: var(--color-bc-blue-light);

	&:hover,
	&:focus {
		color: var(--color-primary);
	}
}
