
/* -----------------------------------------------------------------------------
 *
 * Split long words into multiple lines
 *
 * ----------------------------------------------------------------------------- */

@define-mixin wrap-text {
	word-wrap: break-word;
	hyphens: auto;
}

/* -----------------------------------------------------------------------------
 *
 * Truncate text to a single line, with an ellipsis
 *
 * ----------------------------------------------------------------------------- */

@define-mixin truncate-text {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

/* -----------------------------------------------------------------------------
 *
 * Remove the default antialiased font-smoothing
 *
 * ----------------------------------------------------------------------------- */

@define-mixin subpixel-text {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
	font-smoothing: subpixel-antialiased;
}
