
/* -----------------------------------------------------------------------------
 *
 * Icons
 *
 * ----------------------------------------------------------------------------- */

@define-mixin icon {
	font-family: var(--font-family-bigcommerce-icons);
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: auto;
}
