&.bc-form--has-errors {

	.bc-form__control--error {

		input[type="text"],
		input[type="email"],
		input[type="tel"],
		input[type="number"],
		input[type="password"],
		select,
		textarea {
			border: 1px solid var(--alert-error);
		}
	}
}
