/* Shoptimizer for BigCommerce for WordPress Theme Styles */
.bc-wp-flatsome-theme {
	/* Case: Login popup has no left and right padding. */
	.lightbox-content .bc-account-page {
		padding-left: 60px;
		padding-right: 60px;
	}

	/* Login Form needs additional padding. */
	p.login-submit {
		@media (--viewport-medium) {
			padding-right: 28px;
		}
	}
}
