/* Shoptimizer for BigCommerce for WordPress Theme Styles */
.bc-wp-veganos-theme {

	&.single-bigcommerce_product {

		.entry-content {
			max-width: var(--container-960);
			width: 100%;
		}

		&.bc-gallery-size-bc-xmedium {

			.entry-content {
				max-width: calc(1200px - 1em);
				width: 100%;
			}
		}

		.bc-product-single {
			padding: 0 2em;
		}
	}
}
