.bc-product-gallery__carousel {
	background-color: transparent;
}

.bc-product-gallery__thumbs {
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	display: flex;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
